.bee {
  position: relative;
  width: 270px;
  height: 240px;
}

.part {
  position: absolute;
  width: 200px;
  height: 200px;
}

/* Posiciones iniciales proporcionadas */
.head {
  top: 8px;
  left: 55px;
  z-index: 4;
}

.torso {
  top: 7px;
  left: 56px;
  z-index: 1;
}

.frontlegs {
  top: 8px;
  left: 55px;
  z-index: 4;
}

.hindlegs {
  top: 10px;
  left: 57px;
  z-index: 1;
}

.stinger {
  top: 9px;
  left: 57px;
  z-index: 2;
}

.ala1Sup {
  top: 3px;
  left: 70px;
}

.ala1Inf {
  top: 7px;
  left: 56px;
}

.ala2Sup {
  top: 8px;
  left: 58px;
}