/* components/MatchmakingComponent.module.css */
.matchmakingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  /* Fondo oscuro */
}

.timerCircle {
  width: 150px;
  height: 150px;
  background-color: #3a3a3c;
  /* Color de fondo del círculo */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  /* Sombra para darle profundidad */
}

.timerText {
  font-size: 24px;
  color: white;
  font-weight: bold;
}

.matchFound {
  font-size: 24px;
  color: white;
  font-weight: bold;
}